.pic4-1-icon {
  	position: absolute;
  	top: 2620px;
  	left: 41px;
  	width: 483px;
  	height: 322px;
  	object-fit: cover;
}
.if-youre-interested {
  	margin: 0;
}
.span {
  	font-family: 'Open Sans';
}
.text {
  	position: absolute;
  	top: 2679px;
  	left: 562px;
  	display: inline-block;
  	width: 532px;
  	font-family: 'Open Sans';
}
.pick-up-your-food-child {
  	position: absolute;
  	top: 226px;
  	left: 41px;
  	border-radius: 100px;
  	background-color: #f4af3d;
  	width: 1084px;
  	height: 154px;
}
.its-advisable-to {
  	font-family: Montserrat;
}
.cart {
  	text-decoration: underline;
  	font-family: Montserrat;
}
.its-advisable-to-bring-a-cart {
  	margin: 0;
  	font-size: inherit;
  	padding-left: 33px;
}
.its-advisable-to-container {
  	position: absolute;
  	top: 247px;
  	left: 127px;
  	display: inline-block;
  	width: 899px;
  	height: 117px;
}
.pick-up-your-food-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #000;
  	width: 1163px;
  	height: 194px;
}
.visit-us-at-701-hoefner-avenue {
  	margin: 0;
  	font-size: inherit;
  	padding-left: 36px;
}
.visit-us-at-container {
  	position: absolute;
  	top: 84px;
  	left: 92px;
  	font-size: 27px;
  	color: #f4af3d;
  	display: inline-block;
  	width: 1011px;
  	height: 84px;
}
.pick-up-your {
  	position: absolute;
  	top: 18px;
  	left: 0px;
  	font-size: 40px;
  	display: inline-block;
  	color: #fff;
  	text-align: center;
  	width: 1165px;
  	height: 58px;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.pick-up-your-food {
  	position: absolute;
  	top: 2136px;
  	left: 0px;
  	width: 1165px;
  	height: 380px;
}
.register-child {
  	position: absolute;
  	top: 196px;
  	left: 41px;
  	border-radius: 100px;
  	background-color: #f4af3d;
  	width: 1084px;
  	height: 176px;
}
.you-will-fill-out-an-intake-pa {
  	margin-bottom: 15px;
}
.registration-is-in-container {
  	position: absolute;
  	top: 220px;
  	left: 111px;
  	display: inline-block;
  	width: 899px;
  	height: 134px;
}
.register-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #000;
  	width: 1163px;
  	height: 168px;
}
.contact-brissa-sanchez-container {
  	position: absolute;
  	top: 96px;
  	left: 92px;
  	font-size: 27px;
  	color: #f4af3d;
  	display: inline-block;
  	width: 1011px;
  	height: 42px;
}
.register2 {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 53px;
}
.register1 {
  	position: absolute;
  	top: 19px;
  	left: 0px;
  	font-size: 40px;
  	display: inline-block;
  	color: #fff;
  	text-align: center;
  	width: 1165px;
  	height: 48px;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.register {
  	position: absolute;
  	top: 1700px;
  	left: 0px;
  	width: 1165px;
  	height: 372px;
}
.meet-the-requirements-child {
  	position: absolute;
  	top: 234px;
  	left: 41px;
  	border-radius: 100px;
  	background-color: #f4af3d;
  	width: 1084px;
  	height: 276px;
}
.supplemental-security-income1 {
  	text-decoration: underline;
}
.proof-of-residence-container {
  	position: absolute;
  	top: 258px;
  	left: 149px;
  	display: inline-block;
  	width: 898.9px;
  	height: 228px;
}
.meet-the-requirements-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #000;
  	width: 1163px;
  	height: 216px;
}
.required-to-live-container {
  	position: absolute;
  	top: 82px;
  	left: 92px;
  	font-size: 27px;
  	color: #f4af3d;
  	display: inline-block;
  	width: 1011px;
  	height: 124px;
}
.meet-the-requirements-container {
  	position: absolute;
  	top: 16px;
  	left: 0px;
  	font-size: 40px;
  	display: inline-block;
  	color: #fff;
  	text-align: center;
  	width: 1165px;
  	height: 48px;
}
.meet-the-requirements {
  	position: absolute;
  	top: 1126px;
  	left: 0px;
  	width: 1165px;
  	height: 510px;
}
.main-heading {
  	position: absolute;
  	top: 1018px;
  	left: 26px;
  	font-weight: 500;
  	display: inline-block;
  	width: 1101px;
}
.border-icon {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	max-height: 100%;
  	width: 1164px;
}
.b1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: inline-block;
  	width: 247px;
  	height: 97px;
  	text-shadow: 1px 0 0 rgba(255, 255, 255, 0), 0 1px 0 rgba(255, 255, 255, 0), -1px 0 0 rgba(255, 255, 255, 0), 0 -1px 0 rgba(255, 255, 255, 0);
}
.households-served {
  	position: absolute;
  	top: 111px;
  	left: 7px;
  	font-size: 23px;
  	color: #000;
  	display: inline-block;
  	width: 234px;
  	height: 56px;
}
.parent {
  	position: absolute;
  	top: 58px;
  	left: 83px;
  	width: 247px;
  	height: 167px;
}
.individuals-served {
  	position: absolute;
  	top: 104px;
  	left: 5px;
  	display: inline-block;
  	width: 239px;
  	height: 56px;
}
.b2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 80px;
  	display: inline-block;
  	color: #f4af3d;
  	width: 235px;
  	height: 100px;
  	text-shadow: 1px 0 0 rgba(255, 255, 255, 0), 0 1px 0 rgba(255, 255, 255, 0), -1px 0 0 rgba(255, 255, 255, 0), 0 -1px 0 rgba(255, 255, 255, 0);
}
.individuals-served-parent {
  	position: absolute;
  	top: 330px;
  	left: 448px;
  	width: 244px;
  	height: 160px;
  	font-size: 23px;
  	color: #000;
}
.b3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: inline-block;
  	width: 359px;
  	height: 97px;
  	text-shadow: 1px 0 0 rgba(255, 255, 255, 0), 0 1px 0 rgba(255, 255, 255, 0), -1px 0 0 rgba(255, 255, 255, 0), 0 -1px 0 rgba(255, 255, 255, 0);
}
.lbs-of-food {
  	position: absolute;
  	top: 109px;
  	left: 19px;
  	font-size: 23px;
  	color: #000;
  	display: inline-block;
  	width: 340px;
  	height: 43px;
}
.group {
  	position: absolute;
  	top: 66px;
  	left: 778px;
  	width: 359px;
  	height: 152px;
}
.image-5-icon {
  	position: absolute;
  	top: 241px;
  	left: 760px;
  	width: 396px;
  	height: 249px;
  	object-fit: cover;
}
.image-4-icon {
  	position: absolute;
  	top: 0px;
  	left: 392px;
  	width: 362px;
  	height: 241px;
  	object-fit: cover;
}
.image-3-icon {
  	position: absolute;
  	top: 241px;
  	left: 0px;
  	width: 391px;
  	height: 249px;
  	object-fit: cover;
}
.graph {
  	position: absolute;
  	top: 396px;
  	left: 4px;
  	width: 1156px;
  	height: 490px;
  	font-size: 80px;
  	color: #f4af3d;
}
.text1 {
  	position: absolute;
  	top: 203px;
  	left: 33px;
  	font-size: 32px;
  	font-family: 'Open Sans';
  	color: #000;
  	display: inline-block;
  	width: 1080px;
}
.main-heading1 {
  	position: absolute;
  	top: 94px;
  	left: 33px;
  	font-weight: 500;
  	display: inline-block;
  	width: 1080px;
  	height: 72px;
}
.main-content-1377px-wide {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	background-color: rgba(255, 255, 255, 0);
  	border: 1px solid #000;
  	box-sizing: border-box;
}
.main-content-1377px-wide-wrapper {
  	position: absolute;
  	height: 100%;
  	width: 99.91%;
  	top: 0%;
  	right: 0.09%;
  	bottom: 0%;
  	left: 0%;
  	text-align: center;
  	font-size: 55px;
  	color: #475349;
}
.pic4-1-parent {
  	width: 100%;
  	position: relative;
  	height: 3050px;
  	text-align: left;
  	font-size: 25px;
  	color: #000;
  	font-family: Montserrat;
}

